.page-links{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #000;
  font-family: "Montserrat Medium", sans-serif;
}
.page{
  height: fit-content;
  background-color: bisque;
  padding: 5vh;
  min-height: 90vh;
}