.page-links{
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  font-size: 20px;
  color: #000;
  font-family: "Montserrat Medium", sans-serif;
  background-color: bisque;
  padding: 30px;
}